html {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    // width: 100%;
    // height: 100%;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
        Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    background-color: #ffffff;
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: #26374b !important;
    font-weight: 600;
    transition: 0.3s ease-out;
}

b {
    font-weight: 600;
}

.App {
    box-sizing: content-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.box {
    width: 100%;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 20px;
    min-width: 300px;
    max-width: 600px;
    position: relative;
    text-align: left;
    // font-weight: 400;
    color: #26374b;
    border: 1px solid #26374b;
    h3 {
        margin: 0;
        cursor: pointer;
    }
    transition: 0.3s ease-out;
    display: flex;
    flex-flow: column nowrap;

    &.introbox {
        box-shadow: none;
        padding: 0;
        padding-top: 20px;
        border-radius: 40px;
        // max-width: calc(min(500px, calc(90vw - 20px)));
        height: auto;
        .portrait {
            // width is the width of its parent
            width: 100%;
        }
        top: 0;
        overflow: hidden;
        user-select: none;
        border-width: 3px;
        .intro {
            color: #26374b;
            // background: linear-gradient(90deg, rgba(255, 207, 76, 1) 0%, rgba(38, 55, 75, 1) 100%);
            // background-size: 400% 400%;
            // animation: AnimationName 30s ease infinite;
            // background-clip: text;
            text-align: center;
            font-weight: 800;
            margin-bottom: 15px;
        }
    }
    .map {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        margin-top: 10px;
    }
}

.things {
    flex: 1 1 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.intro-container {
    flex: 1 1 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

// animate the div to rotate back and forth 30 degrees
@keyframes rotate {
    // 4 part animation
    0% {
        transform: rotate(20deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.wave {
    display: inline-block;
    animation: rotate 2s infinite alternate;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
